<div class="row">
    <form #myForm="ngForm" (ngSubmit) = "submitForm(myForm)" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input  [(ngModel)] = "submissions.firstName" placeholder="Placeholder" id="first_name" name="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input [(ngModel)] = "submissions.lastName" id="last_name" name="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input  [(ngModel)] = "submissions.email" id="email" name="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button class="btn waves-effect waves-light blue" type="submit" name="action">Submit</button>
        </div>
      </div>
    </form>
  </div>
